/* share styles */
.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.primary-text-color{
color: #4E47FF;
}
.primary-btn{
    background-color: #4E47FF;
    color: #FFFFFF;
    padding: 12px 36px;
    border-radius: 10px;
    font-weight: bold;
}
.subtitle{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}
.section-heading{
    font-size: 38px;
    font-weight: bold;
    color:rgba(37, 36, 50, 1);
}
.secondary-bg{
    background-color: #F5F8FF;
}
.c-black{
    color: black;
}
/* button style section  */
button:hover{
    background-color: rgb(233, 240, 30);
    color: black;
    cursor: pointer;
}
.submit-btn:hover{
        background-color: rgb(233, 240, 30);
    color: black;
    cursor: pointer;
}
/* header section style */
header{
    text-align: center;
    background-image: url(../Assets/Hero-bg.png);
    min-height: 698px;
}

/* nav section style start */

nav{
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 158px ;
}
.logo{
font-size: 34px;
font-weight: 800;
}
nav button{
    max-width: 132px;
    max-height: 48px;
}
.banner{
    min-height: 237px;
    min-width: 905px;
}
.banner h1{
    font-size: 65px;
    font-weight: bold;
    color: #252432;
    margin: 0;
}
.banner button{
    margin-top: 37px;
}
/* main section style  */
main{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 116px;
    color: #252432;
}
main section{
    margin-top: 116px;
}
/* Action section style start */
.action{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.action-text-container{
max-width: 517px;
max-height: 203px;
margin-right: 220;
}
.action-text-container h2{
    font-size: 42px;
    font-weight: bold;
}
.action-text-container p{
    font-size: 24px;
    color: #2524327e;
}
.action img{
    border-radius: 48px;
    max-height: 328px;

}

/* productive-user user section style start */
.productive-user{
    max-height: 306px;
    background-color: #4d47ff4a;
    border-radius: 24px;
    text-align: center;
}
.user-heading{
padding-top: 50px;
padding-bottom: 40px;
} 

/*Note: my font size 38 is not maching with fingma Look*/

.user-heading h1{
margin: 0;
}
.user-data-container{
    display: flex;
    gap: 167px;
    justify-content: center;
}
.data-value{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
    margin: 0;
}
.user-data p{
    margin: 0;
    margin-bottom: 50px;
}

/* get-in-touch section style start  */
.get-in-touch{
    min-height: 632px;
    display: flex;
    gap: 115px;
    align-items: center;
}
.get-in-touch-left-column{
    width: 528px;
    max-height: 232px;
    color: black;
}
.get-in-touch-left-column h1{
    font-size: 97px;
    font-weight: bold;
    color: black;
}
.get-in-touch-right-column{
    max-width: 497px;
    max-height: 490px;
}
.get-in-touch-right-column input[type="email"], #name ,textarea{
    min-height: 70px;
    width: 465px;
    margin-bottom: 19px;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 20px;
    padding: 20px 0 20px 32px;
    border: none;
}
 label{
    font-size: 18px;
}
.get-in-touch-right-column input[type="submit"]{
    width: 100%;
    height:62px ;
}

/* feedback section style start  */
.feedback{
    text-align: center;
}
.feedback-cards-container{
    display: flex;
    gap: 20px;
}
.feedback-card{
    background-color: #fff;
    border-radius: 14px;
    text-align: left;
    padding: 24px 0 24px 24px;
}
.img-section{
    display: flex;
    gap: 12px;
    align-items: center;
}
.reviwer-name h4{
    margin-bottom: 2px;
}
.reviwer-name p{
    margin-top: 0px;
}
.img-section img{
    width: 40px;
    height: 40px;
    border-radius: 9999px;
}

/* focus section style  */
.focus{
    text-align: center;
    background-color: #fff;
}
.uper-part{
    padding-top: 71px;
}
.focus img{
    margin-top: 20px;
    border-radius: 48px;
    margin-bottom: 71px;
}
/* footer section style start  */
footer{
    text-align: center;
    margin-top: 116px;
    height: 428px;
    background-color: white;
}
.footer-text-container{
   padding-top: 103px;
}
.box{
    height: 221px;
    width: 531px;
    margin: 0 auto;
}
.web-name{
    font-size: 100px;
    font-weight:900 ;
    margin: 0;
}
footer ul{
    display: flex;
    justify-content: center;
}
.footer-nav li{
    list-style: none;
    margin-right: 48px;
}
.footer-nav ul li a{
   text-decoration: none;
   color: #8987A1;
}

